@charset "utf-8";
/* CSS Document */

#topbar
{
	background-color: burlywood;
	height: 150px;
	width: auto;
	position: relative;
}

#mini_prof
{
	height:710px;
	width: 174px;
	position: absolute;
	background-color: aquamarine;
}

#admin_body_card
{
	height: auto;
	width: 1000px;
	background-color: #f6fbff;
	position: relative;
	margin: auto;
	top: 15px;
	padding: 1.5rem;
	padding-top: 15px;
	box-shadow: 0 2px 20px #aaa;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}

#qnpcreatorcntnr
{
	
}

.addbutton 
{
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    cursor: pointer;
}

.flt_right
{
	float: right;
}

.addbutton:hover 
{
    background-color: #e7e7e7;
}